/* selettore{
  proprieta': valore;
  proprieta': valore;
} */


.container{
  border: 2px solid black;
  width: auto;
  height: auto;
  background-color: rgb(255, 0, 0);
  text-align: center;
  margin:
}

h2{
  color: white;
  font-style: italic;
  text-decoration: underline;
}
h2:hover{
  color: rgb(0, 18, 255)
}
.heart{
  position: absolute;
  bottom: 0;
  width: 100%;
  color: red;
  font-size:30px;
  display: none;
}
.immagine1{
  background-image: url(../../../assets/img/pd1.jpg);
  background-size: cover;
  background-position: center;
  border: 3px solid blue;
  width: 300px;
  height: 450px;
  margin: 5px;
  display: inline-block;
  position: relative;
}

.immagine1:hover .heart{
  display: block;
}
.immagine2:hover .heart{
  display: block;
}
.immagine3:hover .heart{
  display: block;
}
.immagine2{
  background-image: url(../../../assets/img/pd2.jpg);
  background-size: cover;
  background-position: center;
  border: 3px solid blue;
  width: 300px;
  height: 450px;
  margin: 5px;
  display: inline-block;
  position: relative;
}
.immagine3{
  background-image: url(../../../assets/img/pd3.jpg);
  background-size: cover;
  background-position: center;
  border: 3px solid blue;
  width: 300px;
  height: 450px;
  margin: 5px;
  display: inline-block;
  position: relative;
}
.giallo{
  background-color: yellow;
  border: 1px solid blue;
  position: absolute;
  right: 0px;
  top: 0px;
}
.verde{
  background-color: green;
  border: 1px solid blue;
  position: absolute;
  right: 0px;
  top: 0px;
}
