/* PROPRIETA': valore;
PROPRIETA': valore;
PROPRIETA': valore; */


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
    

.init{
    height: 650px;
    margin-top: 4rem! important;
}


.first{
    height: 100%;
    border: 5px solid rgb(34, 34, 34);
}


.black{
    padding-top: 18%;
    text-align: right;
    text-decoration: underline;
    font-style: oblique;
    color: #DCFE50;
}


.white{
    padding-top: 18%;
    text-decoration: underline; 
    font-style: oblique;
}


.container{
   height: auto;
}


.row{
    padding: 10px;
}


.title{
    color: #DCFE50;
}


.all{
    position: relative;
    width: 300px;
    height: 300px;
    background-position: center;
    background-size: cover;
    border: 3px solid white;

}


.link{
    text-decoration: none;
    color: black;
}


.tecnology{
    background-image: url(../assets/img/tecnology.jpg);
}

.airbnb{
    background-image: url(../assets/img/logo-airbnb-nuovo.jpg);
}

.album-immagini{
    background-image: url(../assets/img/logo-album-immagini.webp);
}

.responsive-design{
    background-image: url(../assets/img/logo-responsive-design.webp);
}

.bootstrap{
    background-image: url(../assets/img/logo-bootstrap.png);
}

.e-commerce{
    background-image: url(../assets/img/logo-e-commerce.jpg);
}

.youtube{
    background-image: url(../assets/img/logo-youtube.jpg);
    }

.gmail{
    background-image: url(../assets/img/logo-gmail.svg.png);    
}


.text-center{
    font-size:xx-small;
}

.fs-2{
    background-color: rgba(255,255, 255, 0.7);
}

.fs-2 :hover{
    box-shadow: 5px 5px 5px 5px rgb(241, 4, 4);
    transform: scale(1.5);
    transition: 0.5s ease;
}




