/* PROPRIETA': valore;
PROPRIETA': valore;
PROPRIETA': valore; */


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
    

.init{
    height: 650px;
    margin-top: 4rem! important;
}


.first{
    height: 100%;
    border: 5px solid rgb(34, 34, 34);
}


.contatti{
    padding-top: 10%;
    padding-right: 40px;
    font-style: oblique;
    text-decoration: underline;
    color: #DCFE50;
}

.descriptionContatti{
    padding-top: 10%;
    padding-right: 40px;
    overflow-wrap: break-word;
}


.iconaSocial{
    width: 30px;
}


.app{
    padding-top: 10%;
    padding-left: 40px;
    font-style: oblique;
    text-decoration: underline;
}


.descriptionSocial{
    padding-top: 10%;
    padding-left: 40px;
}

.row{
    padding: 10px;
}


.link {
    color: black;
  }
  
  .link:hover {
    box-shadow: 5px 5px 5px 5px black;
    border-top: 2px solid red;
  }



.torino{
    width: 100%;
}


.title{
    color: #DCFE50;
}


.text-center{
    font-size:xx-small;
}


.rigaPassword{
    padding: 15px;
}


.button:hover{
    transition: 0.5s;
    transform: scale( 1.2 );
}



@media (max-width: 514px) {

    .torino{
        margin-top: 500px;
    }

    .contenitoreVuoto{
        height: 500px;
    }
}



